@{
    ViewBag.Title = "Active Games";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>TODO- we need to place our acitve games here</p>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@gameoflife.com.au">Support@gameoflife.com.au</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@gameoflife.com.au">Marketing@gameoflife.com.au</a>
</address>