@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>GAME OF LIFE</h1>
    <p class="lead">The game is a zero-player game, meaning that its evolution is determined by
        its initial state, requiring no further input. One interacts with the Game of Life by creating
        an initial configuration and observing how it evolves, or, for advanced players, by creating 
        patterns with particular properties.</p>

    <p><a href="/UserTemplates/All" class="btn btn-primary btn-lg gamebtn">All Templates&raquo;</a>
    

    <a href="/UserGames/CreateActiveGameStep1" class="btn btn-primary btn-lg gamebtn">Create Active Game&raquo;</a>
    

    @if (Session["User"] != null)
    {
       
        <a href="/UserTemplates/Create" class="btn btn-primary btn-lg gamebtn">Create New Template&raquo;</a>
        <a href="/UserGames/MyActiveGames" class="btn btn-primary btn-lg gamebtn">Play Active Game&raquo;</a>
        <a href="/UserGames/MySavedGames" class="btn btn-primary btn-lg gamebtn">Load Game&raquo;</a>
    }
    </p>
</div>

<div class="row">
    <h2>Rules</h2>
    <div class="col-md-3">
     
        <p>
            The universe of the Game of Life is an infinite two-dimensional orthogonal grid of square cells,
            each of which is in one of two possible states, alive or dead. Every cell interacts with its eight
            neighbours, which are the cells that are horizontally, vertically, or diagonally adjacent.
        </p>

    </div>
    <div class="col-md-6">

        <p>
          
            At each step in time, the following transitions occur: <br/><br/>
            <ul>
                <li> Any live cell with fewer than two live neighbours dies, as if caused by under-population.</li>
                <li> Any live cell with two or three live neighbours lives on to the next generation.</li>
                <li> Any live cell with more than three live neighbours dies, as if by over-population.</li>
                <li> Any dead cell with exactly three live neighbours becomes a live cell, as if by reproduction.</li>
            </ul>
        </p>
    </div>
    <div class="col-md-3">

        <p>The initial pattern constitutes the seed of the system. The first generation is created
            by applying the above rules simultaneously to every cell in the seed—births and deaths occur
            simultaneously, and the discrete moment at which this happens is sometimes called a tick (in other
            words, each generation is a pure function of the preceding one). The rules continue to be applied
            repeatedly to create further generations.</p>

    </div>
</div>