@model UserGame

@using Gameoflife.Models
@using PagedList
@using PagedList.Mvc

@{
    ViewBag.Title = "Create Active Game";

}



<h2>Create Active Game - Step 1 of 2</h2>
@using (Html.BeginForm("CreateActiveGameStep2", "UserGames", FormMethod.Get))
{
    <p>
        <div class="form-group">
            <label class="control-label col-md-2" for="userTemplateID">Templates</label>
            <div class="col-md-10">
                @Html.DropDownList("userTemplateID", "Select a Value")
                    
                    <input type="submit" value="Next Step" class="btn btn-default" />
               
            </div>
        </div>
    </p>
}

