body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.cells {

    white-space: pre-line;
    background-color: rgba(150,150,150,1);
background: @include filter-gradient(#969696, #d1d1d1, horizontal);
background: @include background-image(linear-gradient(left, rgba(150,150,150,1) 1%, rgba(209,209,209,1) 15%, rgba(209,209,209,1) 32%, rgba(209,209,209,1) 40%, rgba(209,209,209,1) 53%, rgba(209,209,209,1) 100%));
    text-align: center;
    margin-top: 2px;
    border-color: #09223b;
    border-width: 2px;
    

}

/*below is for the create cells table*/


 .newcell {
     
    border: 1px solid black;
	width:25px;
	height:25px;


 }
table{

margin-left:80px;}



#templateName{

width:100px;
}

.createCellSize{

    width: 300px;
      background: rgba(231,232,227,1);
background: -moz-linear-gradient(left, rgba(231,232,227,1) 0%, rgba(148,181,214,0.96) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(231,232,227,1)), color-stop(100%, rgba(148,181,214,0.96)));
background: -webkit-linear-gradient(left, rgba(231,232,227,1) 0%, rgba(148,181,214,0.96) 100%);
background: -o-linear-gradient(left, rgba(231,232,227,1) 0%, rgba(148,181,214,0.96) 100%);
background: -ms-linear-gradient(left, rgba(231,232,227,1) 0%, rgba(148,181,214,0.96) 100%);
background: linear-gradient(to right, rgba(231,232,227,1) 0%, rgba(148,181,214,0.96) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7e8e3', endColorstr='#94b5d6', GradientType=1 );


}



.createCellSize .form-actions:hover {

 


}

#cellBuilderHelper {

    border: 1px solid blue;
    background-color: lightblue;
    
}

#myTable {
    margin-top: 20px;
    border: 3px solid grey;
    border-bottom:3px solid grey;
    padding: 20px;

}

#newTemplate {

    margin-top: 5px;

}

.gamebtn {
    
background-color: rgba(150,150,150,1);
background: @include filter-gradient(#969696, #d1d1d1, horizontal);
background: @include background-image(linear-gradient(left, rgba(150,150,150,1) 1%, rgba(209,209,209,1) 15%, rgba(209,209,209,1) 32%, rgba(209,209,209,1) 40%, rgba(209,209,209,1) 53%, rgba(209,209,209,1) 100%));
  min-width: 50px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
    color: Black;
    border-color: #09223b;
    border-width: 1px;


}

.gamebtn:hover {
background-color: rgba(9,34,59,1);
background: @include filter-gradient(#09223b, #213424, horizontal);
background: @include background-image(linear-gradient(left, rgba(9,34,59,1) 0%, rgba(9,34,59,1) 4%, rgba(33,52,36,0.99) 27%, rgba(59,71,12,0.98) 51%, rgba(57,70,14,0.98) 53%, rgba(6,39,71,0.96) 100%));

    color: white;

}



.navbar {
background-color: rgba(9,34,59,1);
background: @include filter-gradient(#09223b, #213424, horizontal);
background: @include background-image(linear-gradient(left, rgba(9,34,59,1) 0%, rgba(9,34,59,1) 4%, rgba(33,52,36,0.99) 27%, rgba(59,71,12,0.98) 51%, rgba(57,70,14,0.98) 53%, rgba(6,39,71,0.96) 100%));
  


}

footer {
   
    
   bottom:0;
    width: 100%;
    Height: 25px;
    color: white;
background-color: rgba(9,34,59,1);
    text-align: center;
    padding-top: 2px;

}



.theGame {

    
    max-width: 600px;
    min-height: 700px;
    background-color: green;
    margin-left: 200px;
   
    padding-left: -300px;
    padding-top: 50px;
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 38px;
    border-color: black;
    border: 20px ridge grey;
    background-color: silver;



}

    .theGame marquee {

        margin-left: 100px;
        margin-right: 100px;
    
    }

.theGameState  {

    margin-left: 50px !important;
    max-width: 450px !important;
   
}

    .theGameState pre {
        background-color: black !important;
        border: 6px solid black;
        border-radius: 38px;
        padding-left: 150px;
        color: #00a600;
        filter: blur(2px);
    }


    .redbutton {

        background-color: red;
        width: 40px;
        height: 40px;
        border-radius: 30px;
        float: right;
        filter: blur(1px);
        
    }

    #rb1 {

        margin-top: 50px;
        margin-left: -50px;
        
    }
    #rb2 {

        margin-top: 50px;
        margin-right: 50px;
        
    }

    .controlBut {
        float: right;
        margin-right: 100px;
        width: 100px;
        height: 100px;

    }

    .groundControl {
        
       float: left;
        margin-left: 100px;
        margin-top: 50px;
        width: 100px;
        height: 100px;


    }
