body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.cells {

    white-space: pre-line;
    background-color: rgb(144,123,132);
    text-align: center;
    margin-top: 2px;
    

}

/*below is for the create cells table*/


 .newcell {
     
    border: 1px solid black;
	width:25px;
	height:25px;


 }
table{

margin-left:80px;}



#templateName{

width:100px;
}

.createCellSize{

    width: 300px;
      background: rgba(231,232,227,1);
background: -moz-linear-gradient(left, rgba(231,232,227,1) 0%, rgba(148,181,214,0.96) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(231,232,227,1)), color-stop(100%, rgba(148,181,214,0.96)));
background: -webkit-linear-gradient(left, rgba(231,232,227,1) 0%, rgba(148,181,214,0.96) 100%);
background: -o-linear-gradient(left, rgba(231,232,227,1) 0%, rgba(148,181,214,0.96) 100%);
background: -ms-linear-gradient(left, rgba(231,232,227,1) 0%, rgba(148,181,214,0.96) 100%);
background: linear-gradient(to right, rgba(231,232,227,1) 0%, rgba(148,181,214,0.96) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7e8e3', endColorstr='#94b5d6', GradientType=1 );


}



.createCellSize .form-actions:hover {

 


}

#cellBuilderHelper {

    border: 1px solid blue;
    background-color: lightblue;
    
}

#myTable {
    margin-top: 20px;
    border: 3px solid grey;
    border-bottom:3px solid grey;
    padding: 20px;

}

#newTemplate {

    margin-top: 5px;

}

